$text : #161220;
$text2: #d1d1d1;
$text3 : #c27670;
$background : #161220;
$background2 : #efefef;
$background2-less : #dbdbdb;
$background3 : #222222;



//theme
$primary: #caae6c;
$primary2 : rgba(170, 163, 101, 0.199);
$secondary: #233239;
$accent:#c27670;

//standard colors
$black:#000000;
$white:#ffffff;
$red : rgb(255, 0, 0);


//transparency
$t-black0 : rgba(0, 0, 0, 0.06);
$t-black1 : rgba(0,0,0,0.1);
$t-black3 : rgba(0,0,0,0.3);
$t-black5 : rgba(0,0,0,0.5);
$t-black7 : rgba(0,0,0,0.7);
$t-black9 : rgba(0,0,0,0.9);


//debug
$border : 1px solid red;
$border1 : 1px solid black;


/*
#d3d5d3
161220
e9c87b
233239
c27670
*/
